* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    transform: scale(0.6667);
    transform-origin: top left;
    width: calc(100% / 0.6667);
    height: 100vh; /* Điều chỉnh lại width để sau khi scale vẫn full màn hình */
     /* Đảm bảo nội dung không bị cắt */
    overflow-x: hidden; /* Tránh thanh cuộn ngang nếu có */
}

.header {
    font-size: 16px;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 315px;
    border-bottom: 1px solid #ccc;
}
.header_logo img {
    width: 166px;
    height: 30px;
}
.header_menu {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.header_menu li {
    padding: 0 15px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.header_menu li:hover {
    cursor: pointer;
    color: #FF782D;
    background-color: rgba(0, 0, 0, 0.05);
}

.header_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-weight: 600;
}
.search {
    width: 48px;
    height: 48px;
    border: 1px solid #FF782D;
    border-radius: 50%;
}

/*==========navbar==============*/
.navbar {
    position: relative;
}

.navbar_content {
    position: absolute;
    width: 520px;
    height: 262px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.navbar_content h1 {
    text-transform: capitalize;
    font-size: 48px;
    padding-bottom: 24px;
}
.navbar_content p {
    font-size: 18px;
    color: #555;
    padding-bottom: 16px;
}
.navbar_content input {
    width: 170px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #FF782D;
    color: #fff;
    border-radius: 24px;
}
/*======category=========*/
.category {
    display: flex;
    flex-direction: column;
    margin: 50px 200px;
}
.category_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.category_title input {
    width: 160px;
    height: 48px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 24px;
    font-size: 16px;
    background: none;
}
.category_content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-content: center;
}
.category_item {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 0.5px solid #ccc;
    border-radius: 20px;
}
.category_item:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
/*======banner===========*/
.banner1, .banner2, .banner3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 200px;
}
.banner2 {
    border: 1px solid #ccc;
    border-radius: 24px;
}
.banner1 img, .banner2 img, .banner3 img {
    width: 100%;
}
/*======footer===========*/

.footer {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frame-1 {
    padding-top: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 400px 200px 200px 400px;
    gap: 70px;
    height: 280px;
}
.frame-1 h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.item-1 {
    font-size: 18px;
    color: #555;
}
.item-1 img {
    margin-bottom: 20px;
}
.item-2 ul, .item-3 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-2 li:hover, .item-3 li:hover {
    cursor: pointer;
    color: #FF782D;
}
.frame-2 {
    width: 100%;
    text-align: center;
    align-items: center;
    height: 60px;
    margin-top: 100px;
    border-top: 1px solid #555 ;
}