@media(max-width:1px) {
    body {
        
        transform: scale(0.8889);
    transform-origin: top left;
    background: #F5F6FA;
    width: calc(100% / 0.889);
    height: auto;
    font-family: Nunito Sans;
    display: flex;
    flex-direction: row;
    }
}