.star {
    color: gold;
    font-size: 28px;
  }
  
  .star.half {
    color: lightgray;
    position: relative;
  }
  
  .star.half::before {
    content: '★';
    color: gold;
    position: absolute;
    width: 50%;
    overflow: hidden;
  }
  
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.product-img {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
    cursor: zoom-in; /* Thêm biểu tượng chuột khi di qua ảnh */
}

.zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease;
    transform-origin: center center; /* Mặc định phóng to từ giữa ảnh */
}

.main-product {
    flex: 1;
}
.product-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.price {
    font-size: 32px;
    font-weight: bold;
}
.description {
    color: rgba(0, 0, 0, 0.6);
}
.size {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.size-item {
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 30px;
}
.review-conten {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 14px;
    width: 100%;
    height: 150px;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
}
.edit-product {
    display: flex;
    justify-content: end;
    padding: 50px;
    gap: 20px;
}
.edit {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    background-color: #4880ff;
}
.edit:hover {
    opacity: 0.7;
    cursor: pointer;
}
.delete {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    background-color: #4880ff;
}
.delete:hover {
    opacity: 0.7;
    cursor: pointer;
}
.form {
    width: 80%;
    height: 650px;
    background-color: #fff;
    padding: 30px;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 350px;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    pointer-events: all;
    border-radius: 16px;
    transition: all 1.5s ease-in-out;
}
.overlay {
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 25px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998; /* Đặt thấp hơn z-index của .form */
}
.hidden {
    display: flex;
}
.form-title {
    text-align: center;
}
.form-input {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.input1 input {
    padding-left: 15px;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E2EAF8;
    padding-left: 10px;
}
.input1 h4 {
    margin-bottom: 10px;
}
.input1 select {
    padding-left: 15px;
    text-transform: capitalize;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E2EAF8;
    padding-left: 10px;
}

.des-img {
    display: flex;
    justify-content: start;
    gap: 50px;
}
.form-des {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 37px;
}
.form-des textarea {
    resize: none;
    width: 100%;
    height: 250px;
    border-radius: 6px;
    border: 1px solid #E2EAF8;
    padding-left: 10px;
}
.img-button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}
.file-upload button {
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #4880FF;
    border: none;
    outline: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 400;
}
.file-upload button:hover {
    cursor: pointer;
    opacity: 0.7;
}
#preview {
    width: 100%;
    height: 250px;
    border: 2.5px dashed #ccc;
    border-radius: 10px;
}
#preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.form-button {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 40px;
    margin-right: 20px;
}

.form-button input{
    text-transform: uppercase;
    color: #fff;
    background-color: #4880FF;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 150px;
    height: 40px;
}
.form-button input:hover {
    cursor: pointer;
    opacity: 0.7;
}

