@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --back: #F5F7FA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    background-color: var(--back);
    height: 100vh;
    overflow: hidden;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.navbar {
    max-width: 20%;
    text-transform: capitalize;
    font-family: inter;
    font-weight: 600;
    padding: 20px 0px;
    background-color: #FFF;
    height: 100%;
    gap: 50px;
}
.navbar-menu {
    gap: 10px;
}
.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.navbar-logo img {
    width: 100%;
}
.navbar-menu--1{
    margin-left: 40px;
    padding: 30px 0px 30px 40px;
    height: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: background-position 0.5s ease-in-out;
}
.navbar-menu--1::before {
    background: linear-gradient(to right, rgba(255,192,203, 0.25) 5%, pink);
}
.navbar-menu--1::before:hover {
    cursor: pointer;
}
